.audio-player {
    margin-top: 20px;
    margin-bottom: 40px;
    display: none;
}

.large-round-button {
    border-radius: 50%;
    width: 125px;
    height: 125px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    line-height: 80px;
    margin: 10px;
}

.response {
    margin-bottom: 40px;
}

/* ... your existing CSS ... */
.fixed-character-img {
    position: fixed;
    top: 300px;
    /* Adjust this value to move the image down */
    left: 50%;
    /* Center the image horizontally */
    transform: translateX(-50%);
    /* Required for centering */
}

.container {
    margin-top: 150px;
    /* Adjust this based on the size of the image and desired spacing */
}

#record-button.btn.btn-danger {
    background-color: transparent !important;
    border: none !important;
}

#fixed-elements {
    position: fixed;
    bottom: 100px;
    left: 50%; /* Center the element horizontally */
    transform: translateX(-50%); /* Required for centering */
    max-width: 70%; /* Make it the same as the chat bubble */
    background-color: white;
    z-index: 1;
}

#chat-bubble {
    margin-top: 30px;
    margin-bottom: 10px; /* Adjust the value to increase or decrease the vertical spacing */
}