

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Select Character</title>
    <style>
        body {
            background-image: url("/static/bg-select-character.png");
            background-size: auto;
            background-repeat: repeat-y;
            background-attachment: fixed;
            background-position: center top;
        }
        .character-img {
            width: 200px;
            height: auto;
            cursor: pointer;
        }
        .banner-img {
            width: 70%;
            height: auto;
            margin-bottom: 50px;
        }
    </style>
</head>

<body>
    <div class="container mt-5 text-center">
        <img src="/static/chattabox.png" class="banner-img" alt="Chattabox">
        <img src="/static/choose-buddy.png" class="banner-img" alt="Choose Buddy">
        <div class="clearfix"></div>
        <div class="row justify-content-center">
            <!-- Your character images go here, e.g. -->
            <div class="col-12 mb-5 text-center">
                <img class="character-img" src="/static/penny.png" alt="penny" onclick="selectCharacter('Penny')">
            </div>
            <div class="col-12 mb-5 text-center">
                <img class="character-img" src="/static/eric.png" alt="eric" onclick="selectCharacter('Eric')">
            </div>
            <div class="col-12 mb-5 text-center">
                <img class="character-img" src="/static/pirate-boy.png" alt="pirate-boy"
                    onclick="selectCharacter('pirate-boy')">
            </div>
            <div class="col-12 mb-5 text-center">
                <img class="character-img" src="/static/pirate-girl.png" alt="pirate-girl"
                    onclick="selectCharacter('pirate-girl')">
            </div>
            <div class="col-12 mb-5 text-center">
                <img class="character-img" src="/static/sonic.png" alt="sonic" onclick="selectCharacter('Sonic')">
            </div>
            <div class="col-12 mb-5 text-center">
                <img class="character-img" src="/static/bookworm.png" alt="bookworm"
                    onclick="selectCharacter('Bookworm')">
            </div>
        </div>
    </div>

    <!-- Your existing script code -->
</body>

</html>
